* {
    margin: 0;
    padding: 0;
}
h1 {
    padding: 10px;
}
div {
    padding: 5px 10px ;
}
button {
    width: 175px;
}
table {
    background: #f9c710;
    margin: 0 10px;
    width: 530px;
}
.pirmas {
    background: #f9c710;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.antras {
    background: #e1b036;
}
td {
    background: #38266c;
    color: white;
    text-align: left;
    padding: 10px;
}